@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');



:root {
    --cor0: #5158FD;
    --cor1: #4977E3;
    --cor2: #5CB6FA;
    --cor3: #49C9E3;
    --cor4: #51FDEC; 

    --fonte-titulo: 'Bebas Neue', cursive, sans-serif;
    --fonte-destaque: 'Staatliches', cursive, sans-serif;
}

.destaque {
    font-family: var(--fonte-titulo);
    font-size: 4em;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.10);      
    padding: 10px 10px;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

header {
    padding: 10px;
}

header > h1 {
    display: inline-block;
    font-size: 2.5em;
    padding: 10px;
}

header > h1::first-letter {
    background-color: black;
    color: white;
    padding: 4px;
}

header > h1 > span.last-letter {
    background-color: white;
    color: black;
    padding: 0px 3px;
}

header > span.md-48 {
    display: block;
    float: right;
    margin-top: 5px;
    font-size: 50px;    
    cursor: pointer;
}

header > span.md-48:hover {
    color: white;
    transition: 0.5s color;
}

header > nav {
    display: none;
    position: absolute;
    margin: 10px;
    right: 0;
}

header li {
    text-align: center;
    list-style-type: none;
    margin-bottom: 30px;
}

header a {
    background-color: white;
    border: 1px solid black;
    color: black;
    text-decoration: none;
    padding: 10px;
}

header a:hover {
    color: var(--cor3);
    transition: color .4s;
}

body {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3));
    background-attachment: fixed;
    padding: 0px 10px;
}

main {
    background-color: white;
    padding-bottom: 20px;
    min-width: 300px;
    max-width: 700px;
    margin: 20px auto;
    border-radius: 10px;
}

main h1 {
    font-size: 3em;
    text-align: center;
    font-family: var(--fonte-destaque);
}

main h2 {
    font-family: var(--fonte-destaque);
    font-size: 2em;
    padding: 5px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.30);
    text-align: center;

}

.div-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resumo {
    font-family: 'Arial', 'sans-serif';
    font-size: 1.2em;
    margin: 10px;
    min-width: 200px;
    max-width: 600px;
    text-align: justify;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.15);
    text-indent: 30px;
    line-height: 1.5em;
}

.foto-perfil {
    margin: 20px;
    min-width: 200px;
    min-height: 200px;
    max-width: 250px;
    max-height: 250px;
}

.tecnologia-logo {
    padding: 10px;
}

.tecnologia-logo img.dev-icon {
    display: block;
    width: 80px;
    height: 80px;
    margin: auto;
    margin-bottom: 10px;
}

.tecnologia-logo img {
    display: block;
    margin: auto;
}

.tecnologia-logo p {
    padding: 10px;
    text-align: justify;
    text-indent: 20px;
    margin: auto;
}

.contato-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 20px;
}

.contato-logo img {
    width: 150px;
}
/* Corrigir link pegando na main toda */
.contato-logo > a {
    width: 150px;
}

.contato-logo > a:hover {
    opacity: 50%;
}

.div-projetos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
}

.div-projetos > h3 {
    font-size: 1.2em;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.15);
    margin-top: 10px;
    margin-bottom: 20px;
}

.div-projetos iframe {
    width: 100%;
    height: 800px;
    border: none;
    border-radius: 10px 10px 0px 0px;
}

.div-projetos a {
    background-color: var(--cor0);
    color: white;
    width: 100%;
    height: 30px;
    text-align: center;
    text-decoration: none;
    padding-top: 10px;
    border-radius: 10px;
    transform: translateY(-10px);
}

.div-projetos a:hover {
    background-color: var(--cor2);
}

footer {
    background-color: var(--cor4);
    width: calc(100% + 20px);
    text-align: center;
    margin: 0px -10px;
}

footer > p {
    color: white;
    font-size: 1.2em;
    padding: 10px;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.15);
}

footer a {
    background-color: var(--cor0);
    opacity: 90%;
    padding: 5px;
    color: white;
    text-decoration: none;
}

footer a:hover {
    background-color: var(--cor2);
}
