@charset "UTF-8";

@media screen and (min-width: 768px) { /* TABLETS E TELAS MAIORES*/
  header > span.material-icons {
    display: none;
  }

  header > nav#menu {
    display: inline-block;
    padding: 10px;
  }

  header li {
    display: inline-block;
  }

  header a {
    background-color: inherit;
    border: none;
    font-size: 1.2em;
  }

  header a:hover {
    color: white;
    transition: 1s color;
  }
}
